.navBar {
    display: flex;
    justify-content: center;
}

.navBtn {
    border: 1px solid black;
    padding: 25px;
    margin: 25px;
    font-size: 25px;
    transition: 0.3s;
}

.navBtn:hover {
    background-color: blue;
}

.mainArea {
    margin: 25px;
    padding: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headingText {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

.infoDiv {
    border: 2px solid black;
    font-size: 20px;
    margin-top: 25px;
    padding: 5px;
    width: 500px;
    align-self: center;
}

.hoursDiv {
    align-self: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: 25px;
    padding: 5px;
    font-size: 20px;
}

.locationDiv {
    align-self: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: 25px;
    padding: 5px;
    font-size: 20px;
}

.menuChoice {
    border: 1px solid black;
    margin-top: 15px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    width: 300px;
    align-self: center;
}

.choice {
    border: 1px solid black;
    width: 500px;
    margin-top: 15px;
    padding: 5px;
    align-self: center;
}

.choiceName {
    margin: 5px;
    font-size: 23px;
}

.choiceText {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.choicePrice {
    text-align: end;
    font-size: 20px;
}

.contact {
    margin: 25px;
    border: 1px solid black;
}

.contactName {
    font-size: 20px;
    margin: 5px;
}

.contactPlace {
    font-size: 25px;
    margin: 5px;
}